<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClass}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <!--初始化数据库，ignore-failures设置为DROPS，表示只有删除表失败忽略，其他错误都会导致启动停止-->
    <jdbc:initialize-database data-source="dataSource" enabled="${jdbc.init}" ignore-failures="DROPS">
        <jdbc:script location="classpath:sql/init.sql" encoding="UTF-8"/>
    </jdbc:initialize-database>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
        <property name="mapperLocations">
            <array>
                <value>classpath:mapper/*.xml</value>
                <value>classpath:mapper/ext/*.xml</value>
            </array>
        </property>
    </bean>

    <!--扫描mybatis mapper接口，否则无法自动注入-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="addToConfig" value="true" />
        <property name="basePackage" value="com.catcher92.demo.mapper" />
    </bean>
</beans>